<h2>All entries</h2>
<div class="entries-container">
    <a href="/newentry" style="text-decoration: none; color: inherit;">
        <div class="entry add">
            <i class="bi bi-plus-square"></i>
        </div>
    </a>
    

    <% if (entries && entries.length > 0) { %>  <!-- Check if there are entries -->
    <% entries.forEach(entry => { %>
    <div class="entry">
        <div class="entry-content">
            <h2 class="entry-title"><%= entry.title %></h2>
            <p><%= new Date(entry.date).toLocaleDateString() %></em></p>
            <p><%= entry.content %></p>
        </div>
        <div class="forms">
            <form action="/delete-entry" method="POST" onsubmit="confirmDelete(event)">
                <input type="hidden" name="entryId" value="<%= entry.id %>">
                <button type="submit"><i class="bi bi-trash3"></i></button>
            </form>
            <a href="/fullentry/<%= entry.id %>">View Full Entry</a>
        </div>
    </div>
    <% }) %>
<% } else { %>
    <div class="image-container no-entry"></div>
    <p>Looks like there are no entries here!</p>
<% } %>
</div>
        
        