<div class="fullentry-container">
    <div class="fullentry-content">
        <h2><%= entry.title %></h2>
        <p><%= new Date(entry.date).toLocaleDateString() %></p>
        <p><%= entry.content %></p>
        <% if (image) { %>
            <img src="data:image/jpeg;base64,<%= image %>" alt="Entry Image" style="max-width: 50%; border-radius: 10px;" />
        <% } %>
    </div>
    <div class="buttons-container">
        <form action="/delete-entry" method="POST" onsubmit="confirmDelete(event)">
            <input type="hidden" name="entryId" value="<%= entry.id %>">
            <button type="submit" id="delete-btn"><i class="bi bi-trash3"></i></button>
        </form>
        <a href="/entries" id="back-link" style="text-decoration: none; color: #757575"><i class="bi bi-arrow-left"></i>  Back to all entries</a>
    </div>
</div>
